<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27537262262-1qcuadgc6utmp1sihhhi0apsnv18inl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27537262262-1qcuadgc6utmp1sihhhi0apsnv18inl6</string>
	<key>API_KEY</key>
	<string>AIzaSyDxs6QLLbGiU72rl8NRDEm9gsyaxV36yY4</string>
	<key>GCM_SENDER_ID</key>
	<string>27537262262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duongswift.DemoAuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>facio-f84ed</string>
	<key>STORAGE_BUCKET</key>
	<string>facio-f84ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27537262262:ios:625aa2ce561111af968817</string>
	<key>DATABASE_URL</key>
	<string>https://facio-f84ed.firebaseio.com</string>
</dict>
</plist>